/* Estilo do Relógio */
.clock-container {
    text-align: center;
    margin-bottom: 20px;
}

.clock-container .icon svg {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
    fill: #bb86fc; /* Cor roxa clara para o ícone */
}

.clock-container .time {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.clock-container .date {
    font-size: 1.2rem;
    color: #bb86fc; /* Cor roxa clara para o texto da data */
}

/* Breakpoints para responsividade */

/* Dispositivos móveis (modo retrato) */
@media (max-width: 600px) and (orientation: portrait) {
    .clock-container .time {
        font-size: 4rem; /* Aumenta o tamanho da hora para telas em retrato */
    }

    .clock-container .date {
        font-size: 1.5rem; /* Aumenta o tamanho da data */
    }
}

/* Dispositivos móveis (modo paisagem) */
@media (max-width: 900px) and (orientation: landscape) {
    .clock-container .time {
        font-size: 4rem; /* Ajusta o tamanho da hora */
    }

    .clock-container .date {
        font-size: 0.9rem; /* Ajusta o tamanho da data */
    }
}

/* Tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    .clock-container .time {
        font-size: 3rem; /* Mantém o tamanho da hora */
    }

    .clock-container .date {
        font-size: 1.1rem; /* Ajusta o tamanho da data */
    }
}

/* Desktops e telas grandes */
@media (min-width: 1025px) {
    .clock-container .time {
        font-size: 6rem; /* Aumenta o tamanho da hora */
    }

    .clock-container .date {
        font-size: 2.5rem; /* Aumenta o tamanho da data */
    }
}
