/* Estilização dos Botões */
.input-container button {
    background-color: #bb86fc;
    color: #121212;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.input-container button:hover {
    background-color: #9c27b0; /* Fundo mais escuro ao passar o mouse */
}

/* Estilo específico para o botão Salvar */
.save-button {
    background-color: #4caf50; /* Verde para destacar o botão Salvar */
}

.save-button:hover {
    background-color: #388e3c; /* Verde mais escuro ao passar o mouse */
}
