/* Cronômetro */
.stopwatch {
    font-family: 'Roboto Mono', monospace;
    font-size: 5rem;
    font-weight: bold;
    color: #bb86fc; /* Cor roxa clara para o tempo */
    margin-bottom: 20px;
}

.controls {
    display: flex;
    margin-bottom: 15px;
    gap: 10px;
    justify-content: center;
}

.btn {
    background-color: #bb86fc;
    color: #121212;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #9c27b0; /* Fundo mais escuro ao passar o mouse */
}
