/* Estilo dos botões de navegação */
.navigation-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.nav-btn {
    background-color: #bb86fc;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.nav-btn:hover {
    background-color: #9c27b0;
}
