/* assets/css/navbar.css */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.menu-hamburger {
    display: none; /* Oculta o menu hamburguer em telas maiores */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}

.menu-hamburger.active {
    transform: translateX(0);
}

.menu-hamburger .hamburger-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 1001;
}

.menu-hamburger .menu-dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-hamburger .menu-dropdown li {
    margin: 20px 0;
}

.menu-hamburger .menu-dropdown a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .menu-hamburger {
        display: block;
    }
}
